DATABASE_URL=postgres://padel:padel@localhost:5432/padel_quento
NEXTAUTH_SECRET=reemplazar-con-un-secreto-largo
NEXTAUTH_URL=http://localhost:3000

POSTGRES_USER=reemplazar-con-usuario
POSTGRES_PASSWORD=reemplazar-con-contraseña
POSTGRES_DB=reemplazar-con-nombre-de-base-de-datos